@model IEnumerable<appWeb2.Models.VideoJuegos>
<h2>Lista de Videojuego</h2>
<a asp-action="Create" class="btn btn-primary">Nuevo Juego</a>
<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var juego in Model)
        {
            <tr>
                <td>@juego.Titulo</td>
                <td>@juego.Descripcion</td>
                <td>@juego.Precio</td>
                <td>@juego.Categoria</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@juego.Id">Editar</a>
                    <a asp-action="Delete" asp-route-id="@juego.Id">Ver</a> 
                    <a asp-action="Delete" asp-route-id="@juego.Id">Eliminar</a>
                </td>
            </tr>
}
    </tbody>
</table>
