@model IEnumerable<appWeb2.Models.VideoJuegos>

<h2 class="mb-4">Nuevos Videojuegos</h2>

<div class="row">
    @foreach (var juego in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">

                <img src="@juego.Imagen" class="card-img-top" style="height:200px; object-fit:cover;" />

                <div class="card-body">
                    <h5 class="card-title">@juego.Titulo</h5>
                    <p class="card-text"><strong>Precio:</strong> $@juego.Precio</p>
                    <p class="card-text"><strong>Categoría:</strong> @juego.Categoria.Nombre</p>
                    <p class="card-text">@juego.Descripcion</p>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Detalle" asp-route-id="@juego.Id" class="btn btn-info btn-sm">Ver</a>
                </div>

            </div>
        </div>
    }
</div>
